set gfxmode='640x480x32'
insmod gfxterm
insmod vbe
terminal_output gfxterm

set gfxpayload='keep'
source /boot/grub/walbrix.cfg
source (loop)/grubvars.cfg

set XEN_ARGS=""
set LINUX_COMMON_ARGS="walbrix.boot=$WALBRIX_BOOT scandelay edd=off"
set LINUX_SPLASH_ARGS="splash=silent,theme:wb console=tty1 quiet"

if [ -n "$WALBRIX_XEN_VGA" ]; then
        set XEN_ARGS="$XEN_ARGS vga=$WALBRIX_XEN_VGA"
fi

if [ -n "$WALBRIX_DOM0_MEM" ]; then
        set XEN_ARGS="$XEN_ARGS dom0_mem=$WALBRIX_DOM0_MEM:max:$WALBRIX_DOM0_MEM"
else
        set XEN_ARGS="$XEN_ARGS dom0_mem=512M:max:512M"
fi

if cpuid -l; then

menuentry 'Walbrix '$WALBRIX_VERSION {
	echo 'Loading Xen...'
	multiboot (loop)/x86_64/boot/xen.gz $XEN_ARGS
	echo 'Loading dom0 kernel...'
	module (loop)/x86_64/boot/kernel $LINUX_COMMON_ARGS $LINUX_SPLASH_ARGS video=640x480-32
	echo 'Loading initramfs...'
	module (loop)/x86_64/boot/initramfs
}

menuentry 'Walbrix '$WALBRIX_VERSION' no UI' {
	echo 'Loading Xen...'
	multiboot (loop)/x86_64/boot/xen.gz $XEN_ARGS
	echo 'Loading dom0 kernel...'
	module (loop)/x86_64/boot/kernel $LINUX_COMMON_ARGS walbrix.noui
	echo 'Loading initramfs...'
	module (loop)/x86_64/boot/initramfs
}

if [ -z "$WALBRIX_XEN_VGA" ]; then
menuentry 'Walbrix '$WALBRIX_VERSION' VESA VGA' {
        echo 'Loading Xen...'
        multiboot (loop)/x86_64/boot/xen.gz $XEN_ARGS vga=gfx-640x480x32
        echo 'Loading dom0 kernel...'
        module (loop)/x86_64/boot/kernel $LINUX_COMMON_ARGS $LINUX_SPLASH_ARGS nomodeset
        echo 'Loading initramfs...'
        module (loop)/x86_64/boot/initramfs
}
fi

menuentry 'Rescue' {
	echo 'Loading kernel...'
	linux (loop)/x86_64/boot/kernel $LINUX_COMMON_ARGS softlevel=rescue
	echo 'Loading initramfs...'
	initrd (loop)/x86_64/boot/initramfs
}

if [ "${grub_platform}" = "efi" ]; then if [ -f "/EFI/Walbrix/xen.efi" ]; then
	menuentry 'Walbrix '$WALBRIX_VERSION'(EFI Xen)' {
		chainloader /EFI/Walbrix/xen.efi
	}
fi;fi

fi

menuentry 'Walbrix '$WALBRIX_VERSION'(32bit)' {
	echo 'Loading Xen(32bit)...'
	multiboot (loop)/i686/boot/xen.gz $XEN_ARGS
	echo 'Loading dom0 kernel(32bit)...'
	module (loop)/i686/boot/kernel $LINUX_COMMON_ARGS $LINUX_SPLASH_ARGS video=640x480-32
	echo 'Loading initramfs...'
	module (loop)/i686/boot/initramfs
}

menuentry 'Walbrix '$WALBRIX_VERSION'(32bit) no UI' {
	echo 'Loading Xen(32bit)...'
	multiboot (loop)/i686/boot/xen.gz $XEN_ARGS
	echo 'Loading dom0 kernel(32bit)...'
	module (loop)/i686/boot/kernel $LINUX_COMMON_ARGS walbrix.noui
	echo 'Loading initramfs...'
	module (loop)/i686/boot/initramfs
}

if [ -z "$WALBRIX_XEN_VGA" ]; then
menuentry 'Walbrix '$WALBRIX_VERSION'(32bit) VESA VGA' {
        echo 'Loading Xen...'
        multiboot (loop)/i686/boot/xen.gz $XEN_ARGS vga=gfx-640x480x32
        echo 'Loading dom0 kernel...'
        module (loop)/i686/boot/kernel $LINUX_COMMON_ARGS $LINUX_SPLASH_ARGS nomodeset
        echo 'Loading initramfs...'
        module (loop)/i686/boot/initramfs
}
fi

menuentry 'Rescue(32bit)' {
	echo 'Loading kernel...'
	linux (loop)/i686/boot/kernel $LINUX_COMMON_ARGS softlevel=rescue
	echo 'Loading initramfs...'
	initrd (loop)/i686/boot/initramfs
}

if [ "${grub_platform}" = "pc" ]; then
	menuentry 'memtest86+' {
		linux16 (loop)/i686/boot/memtest86plus/memtest
	}
fi
