insmod lvm
insmod xfs
insmod probe
insmod sleep

if [ -n "$BOOT_PARTITION" ]; then
  probe -u $BOOT_PARTITION --set=BOOT_PARTITION_UUID
fi

if [ -z "$BOOT_PARTITION_UUID" ]; then
  echo "Boot partition could not be determined! system may not boot."
  sleep 3
fi

if [ -z "$timeout" ]; then
	set timeout=3
fi

if [ -z "$default" ]; then
  set default=normal
fi

menuentry "Walbrix __VERSION__" --id normal {
	echo 'Loading kernel...'
	linux /boot/kernel boot_partition_uuid=$BOOT_PARTITION_UUID system_image=$SYSTEM_IMAGE edd=off intel_iommu=off amd_iommu=off
	echo 'Loading initramfs...'
	initrd /boot/initramfs
}

menuentry "Rescue mode" --id rescue {
	echo 'Loading kernel...'
	linux /boot/kernel boot_partition_uuid=$BOOT_PARTITION_UUID system_image=$SYSTEM_IMAGE edd=off intel_iommu=off amd_iommu=off
	echo 'Loading initramfs...'
	initrd /boot/initramfs
}
