[Unit]
Description=Transient Mode
Requires=basic.target dbus.service getty.target systemd-ask-password-wall.path systemd-logind.service systemd-user-sessions.service
Conflicts=rescue.service rescue.target
After=basic.target rescue.service rescue.target
AllowIsolate=yes
